                        
                        {
                          "key": "${METRIC_ATTR_NAME}",
                          "value": {
                            "stringValue": "${METRIC_ATTR_VAL}"
                          }
                        },